@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --background: #1c1b1c;
  --background-modal: #1c1b1cca;
  --accent: #7287fd;
  --primary: #201f20;
  --foreground: #e9ebee;

  --border-radius: 8px;
}

html,
body {
  width: 100vw;
  height: 100vh;

  color: var(--foreground);
  background-color: var(--background);

  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  /* font-family: 'Poppins', sans-serif; */
}
