.mainpage {
  width: 100vw;
  // height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;

  overflow-x: hidden;

  padding: 1rem;
  .weather_preview {
    width: 100vw;
    // height: 10%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    // background-color: red;

    .weathericon_container {
      width: 15rem;
      height: 12rem;
    }

    .weather_degrees {
      font-size: 3rem;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
    }

    .weather_county {
      color: gray;
    }
  }
}
