.todayforecast {
  width: calc(100vw - 2rem);
  height: 10rem;
  display: grid;
  grid-template-columns: repeat(6, 6.5rem);
  grid-template-rows: 1;
  gap: 0.25rem;
  overflow-x: scroll;

  background-color: var(--primary);
  border-radius: var(--border-radius);

  margin-top: 4rem;

  &:first-child {
    padding: 100px;
    background-color: red;
  }
}
